nslookup
headerexposer
poetry
sslcompare
xmltodict
tld
requests
#ahead requirements are need for the use of favicorn
favicon
netlas
shodan
alive_progress
mmh3
about-time==4.2.1
appdirs==1.4.4
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
colorama==0.4.6
dnspython==2.6.1
filelock==3.16.1
grapheme==0.6.0
idna==3.10
markdown-it-py==3.0.0
mdurl==0.1.2
Pygments==2.18.0
PyYAML==6.0.2
requests-file==2.1.0
rich==13.8.1
soupsieve==2.6
tldextract==5.1.2
tqdm==4.66.5
urllib3==2.2.3
XlsxWriter==3.2.0